* {
    margin: 0px;
    width: 100%;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
    outline: none;
    box-shadow: none;
}

a:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

/* Navigation Bar */
.header {
    background-color: black;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
    font-family: "Kreon", serif;
    font-weight: bolder;
    color:#65E665;
    margin-left: 20px;
    flex-shrink: 5;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-shrink: 2;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
    margin-left: 0px;
    position: relative;
}

a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

li:hover {
    border-radius: 5px;
}

li:hover a {
    color:#65E665;
}

li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background:#65E665;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

li:hover::after {
    width: 70%;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    bottom: 0;
    min-height: 100%;
}

marquee {
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
}

.close-btn {
    display: none;
}

.phone {
    display: none;
}

.content
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
.card {
    position: relative;
    width: 450px;
    height: 520px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #65E665 solid 3px;
    margin-bottom: 50px;
  }

  .card__button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color:black;
  }
   
  .card__title {
    margin-top: 20px;
    font-size: 22px;
    color:#35d335;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 10px;
    font-size: 16px;
    color:white;
    line-height: 1.4;
  }
  
  .card__button {
    padding: 15px;
    border-radius: 8px;
    background:#65E665;
    border: none;
    color:black;
    width: fit-content;
    margin: 20px 5px 5px 5px;
  }
  
  .secondary {
    background: transparent;
    color:#65E665;
    border: 1px solid#65E665;
    margin: 20px 5px 5px 5px;
  }
.card-img
{
    width: 410px;
    height: 230px;
}
/* Responsive Design */
@media (max-width: 430px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 0;
        height: 100%;
        width: 200px;
        background-color: black;
        transition: left 0.3s ease;
        flex-direction: column;
        align-items: start;
        padding-top: 50px;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        width: 100%;
        text-align: left;
        padding: 10px 20px;
    }

    .nav-links.show {
        left: 0;
    }

    .close-btn {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 20px;
        display: block;
    }

    .content {
        position: relative;
        z-index: 0;
    }

    .desktop {
        display: none;
    }

    .phone {
        display: block;
    }

    .card {
        position: relative;
        width: 300px;
        height: 500px;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #65E665 solid 3px;
        margin-bottom: 50px;
      }

    .card-img
    {
        width: 260px;
        height: 150px;
    }
    .card__title
    {
        font-size: 17px;
    }
    .card__description
    {
        font-size: 15px;    
    }
}
